################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Example/.vs/Example/v16
/Example/obj/Debug
